*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 27em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  background-size: cover; }

.container {
  margin: 0 auto;
  min-height: 50vh;
  max-width: 120rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1rem calc(80vh - 11rem); }
  .container__header {
    height: 1rem;
    background-color: #FEC7C4; }
    @media only screen and (max-width: 43.75em) {
      .container__header {
        visibility: hidden;
        display: none; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      margin: 0;
      max-width: 100%; } }
  @media only screen and (max-width: 56.5em) {
    .container {
      grid-template-rows: 1rem calc(60vh - 11rem); } }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: calc(60vh - 11rem); } }

.btn {
  line-height: 1;
  margin: 2rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background-color: #FEC7C4;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 43.75em) {
      .btn:hover {
        transform: none;
        background-color: #FEC7C4;
        box-shadow: none; } }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 43.75em) {
      .btn:active {
        transform: none;
        box-shadow: none; } }
  @media only screen and (max-width: 62.5em) {
    .btn {
      font-size: 2rem;
      font-weight: 400; } }
  @media only screen and (max-width: 43.75em) {
    .btn {
      font-size: 4rem;
      margin: 3rem; } }

.google-maps {
  padding: 0 2rem;
  width: 100%;
  max-height: 30rem;
  border: 0;
  margin: 1rem 0; }

.heading-1 {
  font-size: 10rem;
  font-weight: 100;
  font-family: "Great Vibes", sans-serif;
  color: #008F8A;
  line-height: 1;
  text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.5); }

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  color: #008F8A;
  text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.5); }
  @media only screen and (max-width: 43.75em) {
    .heading-2 {
      font-size: 5rem; } }

.heading-3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #008F8A;
  text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.5); }
  @media only screen and (max-width: 43.75em) {
    .heading-3 {
      font-size: 4rem; } }

.content-title {
  font-size: 3rem;
  font-weight: 400;
  color: #008F8A;
  text-align: center;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 43.75em) {
    .content-title {
      font-size: 5rem; } }

.content-text {
  font-size: 2rem;
  font-weight: 500;
  color: #008F8A;
  text-align: center;
  padding: 0 1rem 0 1rem; }
  @media only screen and (max-width: 56.5em) {
    .content-text {
      font-size: 2rem; } }
  @media only screen and (max-width: 43.75em) {
    .content-text {
      font-size: 2.5rem; } }
  .content-text--small {
    font-size: 2rem;
    text-align: center;
    font-weight: 400; }
    @media only screen and (max-width: 43.75em) {
      .content-text--small {
        font-size: 2.5rem; } }
    .content-text--small__x {
      font-size: 1.5rem; }
      @media only screen and (max-width: 43.75em) {
        .content-text--small__x {
          font-size: 2rem; } }
  .content-text__i {
    justify-self: stretch; }

.timeline-text {
  padding: 0; }

a {
  transition: all .2s; }

p a:link, p a:visited {
  text-decoration: underline;
  color: #008F8A; }

p a:hover, p a:active {
  color: #FEC7C4; }

.margin-top-sm {
  margin-top: 3rem; }

.margin-bottom-sm {
  margin-bottom: 3rem; }

.menu {
  display: flex;
  justify-content: flex-end;
  max-width: 120rem;
  margin: 10rem auto 2rem auto; }
  .menu__item {
    display: grid;
    align-items: center;
    margin-left: 4rem;
    list-style: none;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    transition: all .2s; }
    .menu__item__text::after {
      content: "";
      position: absolute;
      top: -.5rem;
      left: 100%;
      height: 150%;
      width: 2px;
      background-color: #FAE5E0;
      margin-left: 2rem; }
    .menu__item:last-child {
      margin-right: .5rem; }
    .menu__item a {
      position: relative;
      display: grid;
      justify-items: center; }
    .menu__item a:link,
    .menu__item a:visited {
      text-decoration: none;
      color: #FEC7C4; }
    .menu__item:hover {
      transform: scale(1.1);
      text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.2); }
    @media only screen and (max-width: 56.5em) {
      .menu__item {
        margin-left: 3rem; } }
  @media only screen and (max-width: 43.75em) {
    .menu {
      visibility: hidden;
      display: none; } }

.row {
  display: grid; }
  .row--1 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)), url("../img/compressed/bg6.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    align-items: center;
    justify-items: center;
    align-content: center; }
  .row--2 {
    display: grid;
    grid-template-rows: 1fr 15vh;
    background-image: url(../img/compressed/divider.png);
    background-repeat: no-repeat; }
    .row--2__container {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      justify-content: space-around;
      justify-items: center;
      align-items: center;
      grid-gap: 3rem;
      padding: 15rem 11rem 2rem 11rem; }
      @media only screen and (max-width: 56.5em) {
        .row--2__container {
          padding: 15rem 5rem 2rem 5rem; } }
      @media only screen and (max-width: 43.75em) {
        .row--2__container {
          grid-template-columns: auto;
          padding: 15rem 0 0 0; } }
    .row--2__text {
      display: grid;
      justify-items: center; }
    .row--2--b__text {
      display: grid;
      justify-items: center;
      grid-template-rows: 1.2fr repeat(2, 1fr); }
      .row--2--b__text--icon {
        width: 10%; }
      @media only screen and (max-width: 62.5em) {
        .row--2--b__text {
          grid-template-rows: auto; } }
    .row--2__img-holder {
      display: block;
      background-image: url(../img/compressed/2rolunk.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 31rem;
      border-radius: 3px; }
      @media only screen and (max-width: 56.5em) {
        .row--2__img-holder {
          height: 26rem; } }
      @media only screen and (max-width: 43.75em) {
        .row--2__img-holder {
          box-shadow: none;
          height: 43rem;
          border-radius: 0; } }
    .row--2__img-holder--4 {
      background-image: url(../img/compressed/4rsvp.jpg);
      height: 34rem; }
      @media only screen and (max-width: 43.75em) {
        .row--2__img-holder--4 {
          box-shadow: none;
          height: 49rem;
          border-radius: 0; } }
    .row--2__img-holder--6 {
      background-image: url(../img/compressed/1vikiesadam.jpg); }
    .row--2__divider {
      grid-column: 1 / -1; }
    .row--2__timeline-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .row--2__timeline-list__item {
        flex: 0 0 50%; }
        .row--2__timeline-list__item > p {
          text-align: right; }
          @media only screen and (max-width: 22.5em) {
            .row--2__timeline-list__item > p {
              font-size: 2.5rem; } }
        .row--2__timeline-list__item:nth-child(even) > p {
          text-align: left;
          margin-left: 3rem; }
  .row--3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, max-content));
    grid-gap: 3rem;
    justify-content: space-evenly;
    justify-items: center;
    padding: 10rem 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/compressed/3mikorhol.jpg);
    background-size: cover;
    background-position: center; }
    .row--3__card {
      background-color: rgba(255, 255, 255, 0.8);
      color: #008F8A;
      min-width: 20rem;
      max-width: 40rem;
      border-radius: 5px;
      padding: 2.7rem;
      margin: 6rem auto;
      transition: all .2s;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      display: grid;
      align-items: center;
      align-content: start;
      justify-items: center;
      grid-gap: 1rem; }
      .row--3__card--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 63%; }
      .row--3__card:hover {
        transform: scale(1.1);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }
        @media only screen and (max-width: 43.75em) {
          .row--3__card:hover {
            transform: none; } }
      @media only screen and (max-width: 43.75em) {
        .row--3__card {
          margin: 4rem auto;
          max-width: 50rem;
          border-radius: 0;
          grid-gap: 0; } }
    .row--3--b {
      background-image: url(../img/5szallas.jpg); }
      .row--3--b .row--3__card {
        background-color: rgba(255, 255, 255, 0.9);
        grid-column: 2; }
        @media only screen and (max-width: 43.75em) {
          .row--3--b .row--3__card {
            grid-column: auto; } }
      @media only screen and (max-width: 56.5em) {
        .row--3--b {
          background-image: url(../img/compressed/5szallas.jpg); } }
    @media only screen and (max-width: 56.5em) {
      .row--3 {
        padding: 5rem 0; } }
    @media only screen and (max-width: 43.75em) {
      .row--3 {
        grid-template-columns: auto;
        grid-gap: 0;
        justify-content: space-evenly;
        justify-items: center;
        padding: 0; } }
  .row--4__text {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 0.5fr); }
  .row--icon {
    width: 15%; }
    .row--icon__small {
      width: 10%; }
