*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  background-size: cover; }

.container {
  margin: 5rem auto;
  min-height: 50vh;
  max-width: 120rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: grid;
  grid-template-rows: 6rem calc(80vh - 11rem); }
  @media only screen and (max-width: 62.5em) {
    .container {
      margin: 0;
      max-width: 100%; } }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: repeat(6, 1fr); } }

.btn {
  line-height: 1;
  margin: 1rem;
  padding: 1rem 3rem;
  font-size: 4rem;
  text-decoration: none;
  color: #FAE5E0;
  background-color: #81C6BD;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  display: inline-block;
  position: relative; }
  .btn:hover {
    background-color: #8DD9CF;
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 62.5em) {
    .btn {
      font-size: 3rem;
      font-weight: 400; } }
  @media only screen and (max-width: 62.5em) {
    .btn {
      font-size: 4rem; } }

.heading-1 {
  font-size: 10rem;
  font-weight: 100;
  font-family: "Great Vibes", sans-serif;
  color: #008F8A;
  line-height: 1;
  text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.5); }
  @media only screen and (max-width: 62.5em) {
    .heading-1 {
      font-size: 9rem; } }

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  color: #008F8A;
  text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.5); }
  @media only screen and (max-width: 62.5em) {
    .heading-2 {
      font-size: 3rem;
      font-weight: 600; } }

.heading-3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #008F8A;
  text-shadow: 3px 2px 4px rgba(120, 120, 120, 0.5); }
  @media only screen and (max-width: 62.5em) {
    .heading-3 {
      font-weight: 500; } }
  @media only screen and (max-width: 56.25em) {
    .heading-3 {
      font-size: 3rem; } }

.content-title {
  font-size: 4rem;
  font-weight: 400;
  color: #008F8A; }
  @media only screen and (max-width: 62.5em) {
    .content-title {
      font-size: 3rem;
      font-weight: 600; } }

.content-text {
  font-size: 2.5rem;
  font-weight: 500;
  color: #008F8A; }
  @media only screen and (max-width: 62.5em) {
    .content-text {
      font-weight: 500; } }
  @media only screen and (max-width: 56.25em) {
    .content-text {
      font-size: 3rem; } }

.margin-top-sm {
  margin-top: 3rem; }

.margin-bottom-sm {
  margin-bottom: 3rem; }

.menu {
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  align-content: center;
  background-color: #FEC7C4; }
  .menu__item {
    list-style: none;
    font-size: 3rem;
    padding: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    transition: all .2s; }
    .menu__item a {
      position: relative;
      display: grid;
      justify-items: center; }
    .menu__item a:link,
    .menu__item a:visited {
      text-decoration: none;
      color: white; }
    .menu__item:hover {
      background-color: #FAE5E0; }
  @media only screen and (max-width: 43.75em) {
    .menu {
      visibility: hidden;
      display: none; } }

.row {
  display: grid; }
  .row--1 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)), url("../img/bg6.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    align-items: center;
    justify-items: center;
    align-content: center; }
  .row--2 {
    display: grid;
    grid-template-rows: 1fr 15vh;
    background-image: url(../img/divider.png);
    background-repeat: no-repeat; }
    .row--2__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
      justify-items: center;
      align-items: center;
      grid-gap: 5rem;
      padding: 15rem 11rem 2rem 11rem; }
    .row--2__text {
      display: grid; }
    .row--2__img-holder {
      display: flex; }
      .row--2__img-holder--img {
        display: block;
        width: 100%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        border-radius: 3px; }
    .row--2__divider {
      grid-column: 1 / -1; }
  .row--3 {
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    justify-content: center;
    padding: 10rem 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/3mikorhol.jpg);
    background-size: cover; }
    .row--3__card {
      background-color: rgba(255, 255, 255, 0.8);
      color: #008F8A;
      min-width: 20rem;
      border-radius: 5px;
      padding: 2rem;
      margin: 6rem;
      transition: all .2s;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .row--3__card:hover {
        transform: scale(1.1);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }
    .row--3--b {
      background-image: url(../img/5szallas.jpg); }
      .row--3--b .row--3__card {
        background-color: rgba(255, 255, 255, 0.9);
        grid-column: 2; }
