// COLOR VARIABLES
$color-primary: #8DD9CF;
$color-primary-dark: #81C6BD;

$color-secondary: #FAE5E0;
$color-secondary-dark: #FEC7C4;

$color-font-primary: #008F8A;
$color-font-secondary: #3A736B;

$text-shadow-grey: 3px 2px 4px rgba(120, 120, 120, 0.5);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
//$font-display: 'Josefin Sans', sans-serif;
$font-title: 'Great Vibes', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 56.5em;    // 900px;
$bp-small: 43.75em;    // 600px;
$bp-smallest: 26.25em;    // 400px;

$menu-height: 6rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
   
    @media only screen and (max-width: $bp-smallest) {
        font-size: 40%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    min-height: 100vh;
    background-size: cover;
}

.container {
    margin: 0 auto;
    min-height: 50vh;
    max-width: 120rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, .3);
    border-radius: 2px;

    display: grid;
    grid-template-rows: 1rem calc(80vh - 11rem);

    &__header {
        height: 1rem;
        background-color: $color-secondary-dark;

        @media only screen and (max-width: $bp-small) {
            visibility: hidden;
            display: none;
        }
    }
    
    @media only screen and (max-width: $bp-large) {
        margin: 0;
        max-width: 100%;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 1rem calc(60vh - 11rem);
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-rows: calc(60vh - 11rem);
    }
}

.btn {
    line-height: 1;
    margin: 1rem;
    padding: 1rem 3rem;
    font-size: 4rem;
    text-decoration: none;
    color: white;
    background-color: $color-secondary-dark;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transition: all .2s;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: $color-secondary;
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, .4);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, .3);
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 3rem;
        font-weight: 400;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 4rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 6rem;
        margin: 4rem;
    }
}

.google-maps {
    padding: 0 2rem;
    width: 100%;
    max-height: 30rem;
    border: 0;
    margin: 1rem 0;
}