.heading-1 {
    font-size: 10rem;
    font-weight: 100;
    font-family: $font-title;
    color: $color-font-primary;
    line-height: 1;
    text-shadow: $text-shadow-grey;

    @media only screen and (max-width: $bp-large) {
        font-size: 9rem;
    }
}

.heading-2 {
    font-size: 4rem;
    font-weight: 400;
    color: $color-font-primary;
    text-shadow: $text-shadow-grey;

    @media only screen and (max-width: $bp-large) {
        font-size: 3rem;
        font-weight: 600;
    }
}

.heading-3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-font-primary;
    text-shadow: $text-shadow-grey;

    @media only screen and (max-width: $bp-large) {
        font-weight: 500;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;        
    }
}

.content-title {
    font-size: 4rem;
    font-weight: 400;
    color: $color-font-primary;

    @media only screen and (max-width: $bp-large) {
        font-size: 3rem;
        font-weight: 600;
    }
}

.content-text {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-font-primary;

    @media only screen and (max-width: $bp-large) {
        font-weight: 500;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;        
    }
}
