.heading-1 {
    font-size: 10rem;
    font-weight: 100;
    font-family: $font-title;
    color: $color-secondary;
    line-height: 1;

    @media only screen and (max-width: $bp-large) {
        font-size: 9rem;
    }
}

.heading-2 {
    font-size: 4rem;
    font-weight: 300;
    font-family: $font-primary;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-large) {
        font-size: 3rem;
        font-weight: 600;
    }
}

.heading-3 {
    font-size: 2rem;
    font-weight: 300;
    font-family: $font-primary;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-large) {
        font-weight: 500;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;        
    }
}