.heading-1 {
    font-size: 10rem;
    font-weight: 100;
    font-family: $font-title;
    color: $color-font-primary;
    line-height: 1;
    text-shadow: $text-shadow-grey;
}

.heading-2 {
    font-size: 4rem;
    font-weight: 400;
    color: $color-font-primary;
    text-shadow: $text-shadow-grey;

    @media only screen and (max-width: $bp-small) {
        font-size: 5rem;
    }
}

.heading-3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-font-primary;
    text-shadow: $text-shadow-grey;

    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
    }
}

.content-title {
    font-size: 3rem;
    font-weight: 400;
    color: $color-font-primary;
    text-align: center;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-small) {
        font-size: 5rem;
    }
}

.content-text {
    font-size: 2rem;
    font-weight: 500;
    color: $color-font-primary;
    text-align: center;
    padding: 0 1rem 0 1rem;
    
    @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
    }

    &--small {
        font-size: 2rem;
        text-align: center;
        font-weight: 400;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
        }

        &__x {
            font-size: 1.5rem;
        
            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
            }
        }
    }

    &__i {
        justify-self: stretch;
    }
}

.timeline-text {
    padding: 0;
}

a {
    transition: all .2s;
}

p a:link, p a:visited {
    text-decoration: underline;
    color: $color-font-primary;
}

p a:hover, p a:active {
    color: $color-secondary-dark;
}