.row {
    display: grid;

    &--1 {
        background-image: linear-gradient(to right, rgba(white, 0.1), rgba(white, 0.3)), url("../img/bg6.jpg");
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(3, max-content);
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    &--2 {
        display: grid;
        grid-template-rows: 1fr 15vh;

        background-image: url(../img/divider.png);
        background-repeat: no-repeat;

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            grid-gap: 5rem;        

            padding: 15rem 11rem 2rem 11rem;
        }

        &__text {
            display: grid;
        }

        &__img-holder {
            display: flex;

            &--img {
                display: block;
                width: 100%;
                box-shadow: 0 1rem 2rem rgba(black, 0.3);
                border-radius: 3px;
            }
        }

        &__divider {
            grid-column: 1 / -1;
        }
    }

    &--3 {
        display: grid;
        grid-template-columns: repeat(2, 35vw);
        justify-content: center;
        padding: 10rem 0;

        background-image: linear-gradient(to right, rgba(white, 0.5), rgba(white, 0.5)), url(../img/3mikorhol.jpg);
        background-size: cover;

        &__card {
            background-color: rgba(white, 0.8);
            color: $color-font-primary;
            min-width: 20rem;
            border-radius: 5px;
            padding: 2rem;
            margin: 6rem;
            transition: all .2s;
            box-shadow: 0 1rem 2rem rgba(black, 0.2);
            
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 2rem 3rem rgba(black, 0.3);
            }
        }

        &--b {
            background-image: url(../img/5szallas.jpg);

            & .row--3__card {
                background-color: rgba(white, .9);
                grid-column: 2;
            }
        }   
    }
}
