.row {
    display: grid;

    &--1 {
        background-image: linear-gradient(to right, rgba(white, 0.1), rgba(white, 0.3)), url("../img/compressed/bg6.jpg");
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(3, max-content);
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    &--2 {
        display: grid;
        grid-template-rows: 1fr 15vh;

        background-image: url(../img/compressed/divider.png);
        background-repeat: no-repeat;

        &__container {
            display: grid;
            grid-template-columns: 1.2fr 1fr;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            grid-gap: 3rem;        
            padding: 15rem 11rem 2rem 11rem;

            @media only screen and (max-width: $bp-medium) {
                padding: 15rem 5rem 2rem 5rem;
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: auto;
                padding: 15rem 0 0 0;
            }
        }

        &__text {
            display: grid;
            justify-items: center;
        }

        &--b__text {
            display: grid;
            justify-items: center;
            grid-template-rows: 1.2fr repeat(2, 1fr);

            &--icon {
                width: 10%;
            }

            @media only screen and (max-width: $bp-large) {
                grid-template-rows: auto;
            }
        }

        &__img-holder {
            display: block;
            background-image: url(../img/compressed/2rolunk.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0 1rem 2rem rgba(black, 0.3);
            width: 100%;
            height: 31rem;
            border-radius: 3px;

            @media only screen and (max-width: $bp-medium) {
                height: 26rem;
            }

            @media only screen and (max-width: $bp-small) {
                box-shadow: none;
                height: 43rem;
                border-radius: 0;
            }
        }

        &__img-holder--4 {
            background-image: url(../img/compressed/4rsvp.jpg);
            height: 34rem;

            @media only screen and (max-width: $bp-small) {
                box-shadow: none;
                height: 49rem;
                border-radius: 0;
            }
        }

        &__img-holder--6 {
            background-image: url(../img/compressed/1vikiesadam.jpg);
        }

        &__divider {
            grid-column: 1 / -1;
        }

        &__timeline-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            &__item {
                flex: 0 0 50%;

                & > p {
                    text-align: right;

                    @media only screen and (max-width: $bp-xsmall) {
                        font-size: 2.5rem;
                    }
                }

                &:nth-child(even) > p {
                    text-align: left;
                    margin-left: 3rem;
                }
            }
        }
    }

    &--3 {
        display: grid;
        grid-template-columns: repeat(2, minmax(40rem, max-content));
        grid-gap: 3rem;
        justify-content: space-evenly;
        justify-items: center;
        padding: 10rem 0;

        background-image: linear-gradient(to right, rgba(white, 0.5), rgba(white, 0.5)), url(../img/compressed/3mikorhol.jpg);
        background-size: cover;
        background-position: center;

        &__card {
            background-color: rgba(white, 0.8);
            color: $color-font-primary;
            min-width: 20rem;
            max-width: 40rem;
            border-radius: 5px;
            padding: 2.7rem;
            margin: 6rem auto;
            transition: all .2s;
            box-shadow: 0 1rem 2rem rgba(black, 0.2);
            display: grid;
            align-items: center;
            align-content: start;
            justify-items: center;
            grid-gap: 1rem;
            
            &--content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 63%;
            }
            
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 2rem 3rem rgba(black, 0.3);

                @media only screen and (max-width: $bp-small) {
                    transform: none;
                }
            }

            @media only screen and (max-width: $bp-small) {
                margin: 4rem auto;
                max-width: 50rem;
                border-radius: 0;
                grid-gap: 0;
            }
        }

        &--b {
            background-image: url(../img/5szallas.jpg);

            & .row--3__card {
                background-color: rgba(white, .9);
                grid-column: 2;

                @media only screen and (max-width: $bp-small) {
                    grid-column: auto;
                }
            }

            @media only screen and (max-width: $bp-medium) {
                background-image: url(../img/compressed/5szallas.jpg);
            }
        }   
        
        @media only screen and (max-width: $bp-medium) {
            padding: 5rem 0;
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: auto;
            grid-gap: 0;
            justify-content: space-evenly;
            justify-items: center;
            padding: 0;
        }
    }

    &--4__text {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: repeat(3, .5fr);
    }

    &--icon {
        width: 15%;

        &__small {
            width: 10%;
        }
    }
}
